{% extends "core/base.html" %}

{% block title %}Consejos - {% endblock %}

{% load static %}

{% block content %}
<section class="contenido">
    <article class="seccion-consejo1">
        <div class="texto-encabezado">
            <h1>Razones que te convencerán para pasarte a los alimentos integrales</h1>
            <h4>Los alimentos integrales tienen unas propiedades que sus versiones refinadas han perdido por el camino, en especial la fibra.</h4>
            <h4>Por eso es más saludable comer pan, arroz o pasta integral. Descubre los beneficios de comer alimentos "enteros".</h4>
        </div>

        <img src="{% static 'core/img/consejos/panes.png' %}">
        <div class="cuerpo-encabezado">
            <p>Un estudio de la Universidad de Harvard publicado en la revista Jama Internal Medicine prueba la relación existente entre el consumo de cereales integrales (trigo, avena, cebada, centeno, arroz) con una mayor longevidad.</p>
            <p>Por cada 28 g de cereales de grano entero consumidos se reduce un 5% la tasa de mortalidad total y un 9% la mortalidad cardiovascular.</p>
            <p>En la galería que incluimos en este artículo hemos recogido 3 razones por las que comer alimentos integrales en lugar de sus versiones refinadas o procesadas es beneficioso para la salud.</p>
        </div>
    </article>
    <article class="seccion-consejo2">
        <div class="texto">
            <h2>¿Lo integral adelgaza?</h2>
            <p>La fibra de los alimentos integrales ayuda a regular el apetito y la ansiedad por comer, característica que hace que se retrase la sensación de hambre. Y esto ocurre, no porque los alimentos integrales sean más energéticos sino por su alto contenido en fibra, aspecto directamente relacionado con su capacidad para absorber agua.</p>
            <p>También contribuye a que pasen menos azúcares a la sangre, con lo que se acaban absorbiendo menos calorías.</p>
        </div>
        <div class="bloque">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/3Yfatpyi8gQ?si=Qz8hYBHSUFPiv2Tj&amp;start=37"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </article>
    <article class="seccion-consejo3">
        <div class="texto">
            <h2>Integral para el tránsito intestinal</h2>
            <p>Junto a su capacidad saciante, otro de los principales motivos por los que es aconsejable el consumo de alimentos integrales es su poder para regular el tránsito intestinal.</p>
            <p>En el caso del arroz, recuerda que el blanco es astringente. Es decir, perfecto en los procesos diarreicos. En cambio, el integral, al poseer el salvado externo, pasa a ser lo contrario, es decir, laxante.</p>
        </div>
        <div class="bloque">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/fT1Cx2c9W3c?si=O43Ka2jjcr2GzyNI&amp;start=318"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>
        </div>
    </article>
    <article class="seccion-consejo4">
        <div class="texto">
            <h2>Retrasan el envejecimiento</h2>
            <p>Debido a la gran cantidad de antioxidantes que posee, su consumo regular ayuda a frenar los primeros signos del paso del tiempo, como las arrugas o la flacidez.</p>
            <p>El estudio también señala que el pan integral tiene un índice glucémico menor que el blanco, es decir, que el aumento de glucosa en sangre es más lento en el caso del pan integral.</p>
        </div>
        <div class="bloque">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/CzXlSahIqE8?si=lttWQIfAjKtIULXJ&amp;start=61"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </article>
</section>
{% endblock %}