{% extends "core/base.html" %}

{% block title %}Contacto - {% endblock %}

{% load static %}

{% block content %}
<h1 style="text-align: center;">Contacto</h1>
<form action="https://formspree.io/f/mqkvnawz" method="post" name="form_contacto" class="form_contacto">
    <input name="name" type="text" placeholder="Nombre..." maxlength="50" required>
    <input name="email" type="email" placeholder="Email..." required>
    <input name="contact_no" type="number" placeholder="Teléfono sin espacios ni guiones...">
    <textarea name="message" name="" id="" cols="30" rows="10" placeholder="Ingrese un mensaje" required></textarea>
    <input type="submit" value="Enviar" onclick="valida_email(email.value)">
</form>
{% endblock %}